<form (ngSubmit)="onSubmit(form)" #form="ngForm" class="max-w-md mx-auto py-12">
  <div class="space-y-8">
    <p
      *ngIf="error"
      class="bg-accent/80 text-white first-letter:capitalize p-2 rounded"
    >
      {{ error }}
    </p>
    <input
      type="text"
      placeholder="Email"
      class="border-b border-accent p-1 outline-none w-full"
      ngModel
      name="email"
      required
      email
    />
    <input
      type="password"
      placeholder="Password"
      class="border-b border-accent p-1 outline-none w-full"
      ngModel
      name="password"
      required
      minlength="6"
    />
    <input
      *ngIf="!alreadyMember"
      type="password"
      placeholder="Confirm password"
      class="border-b border-accent p-1 outline-none w-full"
      ngModel
      name="confirmPassword"
      required
      minlength="6"
    />
    <span
      *ngIf="passwordMismatch && !alreadyMember"
      class="text-accent text-sm mt-2"
      >Passwords do not match</span
    >
    <!-- buttons -->

    <button
      [disabled]="!form.valid"
      class="w-full border border-black py-4 flex gap-2 justify-center capitalize rounded-full hover:text-black hover:scale-95 duration-200 disabled:border-gray-300 disabled:text-gray-400 disabled:cursor-not-allowed"
    >
      <mat-icon>login</mat-icon>
      {{ alreadyMember ? "Login" : "Register" }}
    </button>
  </div>
  <div class="text-center mt-2">
    <p>
      {{ alreadyMember ? "Not a member yet? " : "Already a member? " }}

      <button
        type="button"
        class="text-accent hover:underline"
        (click)="toggleAuthForm()"
      >
        {{ alreadyMember ? "Register" : "Login" }}
      </button>
    </p>
  </div>
</form>
