<div
  [routerLink]="[recipe.getId]"
  class="bg-black text-white flex gap-4 items-center p-2 rounded-3xl group hover:bg-gray-900 duration-200 cursor-pointer"
>
  <!-- recipe image -->
  <img [src]="recipe.getImage" class="w-16 h-16 rounded-full bg-accent-light" />

  <!-- recipe text -->
  <div class="flex-1">
    <h3 class="capitalize group-hover:text-accent">{{ recipe.getName }}</h3>
    <div class="flex items-center text-gray-300 text-xs gap-20">
      <p>4 ingredients</p>
      <p class="flex items-center">
        <mat-icon class="text-base">schedule</mat-icon> 30 min
      </p>
    </div>
  </div>
</div>
