<aside>
  <!-- recipes list heading and button -->
  <div class="flex justify-between items-center">
    <h2 class="font-semibold text-2xl capitalize">recipes</h2>

    <button
      class="border border-black px-6 py-2 flex gap-2 capitalize rounded-full hover:text-black hover:scale-95 duration-200"
    >
      <mat-icon>add_circle_outline</mat-icon>
      add new recipe
    </button>
  </div>

  <!-- recipes list -->
  <div class="mt-4 grid sm:grid-cols-2 gap-2 lg:grid-cols-1">
    <app-recipe-item
      *ngFor="let recipe of recipes"
      [currentRecipe]="recipe"
    ></app-recipe-item>
  </div>
</aside>
