<div
  class="bg-accent-light grid md:grid-cols-2 items-center rounded-3xl overflow-hidden"
>
  <!-- left side text -->
  <div class="max-w-xs ml-16 py-10">
    <h1 class="text-4xl font-semibold">
      Unlock the Culinary Genius within You!
    </h1>
    <p class="mt-6 mb-4">
      Irure commodo sint irure proident ipsum. Voluptate nulla cillum ipsum anim
      laborum reprehenderit quis amet eiusmod duis cupidatat id.
    </p>
    <a href="#" class="font-semibold flex items-center gap-1"
      >See all recipes <mat-icon> arrow_right_alt </mat-icon></a
    >
  </div>

  <!-- right side image -->
  <img
    src="assets/images/header-image.png"
    alt="header-image"
    class="hidden md:block"
  />
</div>
